<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Author name: Emre Can Bulut 
-->


<launch>
  <param name="/use_sim_time" value="true" />
  <!--<arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>-->
    
  <!-- include our robots -->
  <include file="$(find armor_rds_tutorial)/launch/multirobot.launch"/>
    
  
</launch>